
KonsolenKampfspiel/.vs/KonsolenKampfspiel/DesignTimeBuild/.dtbcache
KonsolenKampfspiel/.vs/KonsolenKampfspiel/v16/.suo
KonsolenKampfspiel/.vs/KonsolenKampfspiel/v16/Server/sqlite3/storage.ide
KonsolenKampfspiel/obj/Debug/netcoreapp3.1/KonsolenKampfspiel.assets.cache
KonsolenKampfspiel/.vs/KonsolenKampfspiel/v16/.suo
KonsolenKampfspiel/.vs/KonsolenKampfspiel/v16/.suo
*.ide
KonsolenKampfspiel/.vs/KonsolenKampfspiel/v16/.suo
*.cache
*.dll
*.pdb
*.ide
